.header-image {
    width: 100%;
    margin-top: -2em;
    margin-bottom: 2em;
    height: 600px;
  }
  
  .about-profile-pic {
    float: left;
    margin: 0 1em 1em 0;
  }

  p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkslategrey;
  }

  h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategrey;
  }